*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

#restaurant-logo{
    width: 10rem;
}

header{
    background: linear-gradient(rgba(0,0,45,0.8),rgba(0,0,20,0.6),rgba(0,0,45,0.5) ), url('../images_folder/featured-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar.sticky{
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-links li{
    list-style: none;
    padding: 0 0.25rem;
    margin: 0 0.55rem;
}

#nav-links li a{
    color: aliceblue;
    text-decoration: none;
}

#nav-links li a:hover{
    color: #20d167b6;
}

#nav-links li a:active{
    color: #000045;
}

#signup-btn{
    border: none;
    outline: none;
    background-color: #33cc33;
    padding:6px 14px;
    cursor: pointer;
    margin-left: 2rem;
    color: #fff;
    text-decoration: none;
}

#login-btn{
    border: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 6px 14px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 1rem;
    color: #33dd33;
}

#signup-btn:active{
    transform: scale(0.98);
}

#login-btn:active{
    transform: scale(0.98);
}

.hamburger, .close {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.hamburger .fa-bars{
    color: #ffffff;
}

.close .fa-times{
    color: #ffffff;
}

@media (max-width: 768px){
    #restaurant-logo{
        width: 8rem;
    }

    .navbar{
        padding: 1rem;
    }

    #nav-links{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: #333;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 9; 
        padding-top: 2.5rem;
        padding-left: 1.7rem;
    }

    #nav-links a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }

    #nav-links li {
        margin: 5px 0;
        border-bottom: 1px solid #222;
        padding-bottom: 10px;
    }

    .button-container{
        display: flex;
        margin-bottom: 30px;
    }

    #signup-btn {
        padding: 8px 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #33cc33;
        border: none;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #login-btn{
        padding: 8px 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        border: none;
        color: #33dd33;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #signup-btn:hover {
        background-color: #44bb44;
    }

    #login-btn:hover{
        background-color: #44bb44;
        color: #ffffff;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: none; 
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 30px;
        color: #fff;
        z-index: 10;
    }

    #nav-links.active {
        transform: translateX(0);
    }

    .hamburger.active {
        display: none;
    }

    .close.active {
        display: block;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 8; 
    }

    .overlay.active {
        display: block;
    }
}

/* @media (min-width: 500px) and (max-width: 768px){
    #restaurant-logo{
        width: 9rem;
    }

    .navbar{
        padding: 1.5rem;
    }

    #nav-links{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: #333;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 9; 
    }

    #nav-links li {
        margin: 5px 0;
        font-size: 22px;
    }

    #signup-btn{
        padding:12px 8px;
        margin-left: -0.01rem;
        margin-bottom: 0.5rem;
        color: #fff;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: none; 
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 40px;
        color: #fff;
        z-index: 10;
    }

    #nav-links.active {
        transform: translateX(0);
    }

    .hamburger.active {
        display: none;
    }

    .close.active {
        display: block;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 8; 
    }

    .overlay.active {
        display: block;
    }
} */

/* Header-Container Section */
.header-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#s-head{
    color: #f2f2f2;
    letter-spacing: 3px;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
}

.separator{
    display: block;
    margin: 0 auto;
    width: 120px;
}

#l-head{
    font-size: 62px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2px;
}

/* Responsive media query  */
@media (min-width: 200px) and (max-width: 425px){
    .header-container{
        width: 310px;
    }

    #l-head{
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
        letter-spacing: 2px;
    }
}


/* Gallery Section */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 50px 0;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}


@media (max-width: 800px) {
  .row{
    padding: 0px;
  }
  
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (max-width: 600px) {
  .row{
    padding: 0px;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 0px;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 40px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px){
    .modal-content{
        margin: 50% auto;
    }
}

/* Footer Section */
footer {
    background-color: #222;
    color: white;
    padding-top: 40px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3 {
    color: #33cc33;
    margin-bottom: 10px;
}

.footer-column p, .footer-column ul, .footer-column a {
    color: #ccc;
    font-size: 0.9rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #22aa22;
}

.footer-social a {
    color: white;
    margin-right: 10px;
}

.footer-social a:hover {
    color: #11aa44;
}

.instagram-gallery a {
    display: inline-block;
    margin: 5px;
}

.instagram-gallery img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

/* Footer Bottom */
.footer-bottom {
    background-color: #111;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    color: #ccc;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (min-width: 200px) and (max-width: 425px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        min-width: 100%;
    }

    .instagram-gallery img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 426px) and (max-width: 500px) {
    
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        min-width: 100%;
    }

    .instagram-gallery img {
        width: 55px;
        height: 55px;
    }
}

/* Scroll To Top Section */
#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
}
  
.bi-arrow-up-circle-fill {
    font-size: 40px;
    color: #002345;
}